@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: #000000;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}

.section__padding {
    padding: 4rem 12rem;
}

@media screen and (max-width: 1500px) {
    .section__padding {
        padding: 3rem 9rem;
    }
}

@media screen and (max-width: 1200px) {
    .section__padding {
        padding: 3rem 7.5rem;
    }
}

@media screen and (max-width: 1000px) {
    .section__padding {
        padding: 3rem 5rem;
    }
}

@media screen and (max-width: 600px) {

    .section__padding {
        padding: 3rem 3.5rem;
    }
}

@media screen and (max-width: 400px) {

    .section__padding {
        padding: 3rem 2rem;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.fade-in.active {
    opacity: 1;
    transform: translateY(0);
}

/* HEADER */

header {
    background-color: #FBF7EC;
    padding: 2rem 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Work Sans', sans-serif;

    img {
        width: 150px;
        height: 28px;
    }

    nav {
        a {
            color: #5A5A5A;
            text-decoration: none;
            margin-right: 25px;
            font-size: 18px;
            font-weight: 500;
        }

        a:hover {
            border-bottom: 1px solid #5A5A5A;
            color: #0F0D1C;
        }
    }

    button {
        border: none;
        outline: none;
        border-radius: 20px;
        width: 134px;
        height: 42px;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        background: linear-gradient(to right, #8E77C4 50%, #756BEE 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all .4s ease-out;
    }

    button:hover {
        background-color: #8E77C4;
        background-position: left bottom;
    }
}

@media screen and (max-width: 1200px) {
    header {
        nav {
            a {
                margin-right: 0;
                margin-left: 1rem;
            }
        }

        button {
            display: none;
        }
    }
}

@media screen and (max-width: 1500px) {
    header {
        padding: 2rem 9rem;
    }
}

@media screen and (max-width: 1200px) {
    header {
        padding: 2rem 7.5rem;
    }
}

@media screen and (max-width: 1000px) {
    header {
        padding: 2rem 5rem;
    }
}

@media screen and (max-width: 775px) {
    header {
        nav {
            display: none;
        }

        .burger-icon span {
            display: flex;
            width: 35px;
            height: 2px;
            background-color: #000000;
            margin: 6px 0;
        }
    }
}

@media screen and (min-width: 775px) {
    header {
        #openBtn {
            display: none;
            margin: 0;
            padding: 0;
        }
    }
}

@media screen and (max-width: 600px) {
    header {
        padding: 2rem 3.5rem;
    }
}

@media screen and (max-width: 400px) {
    header {
        padding: 2rem 2rem;
    }
}


/* SIDENAV */


.sidenav {
    height: 100%;
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -100vw;
    background-color: #F5F4F0;
    padding-top: 60px;
    transition: left 0.5s ease;
}

.sidenav a {
    padding: 30px 8px 8px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.sidenav a:hover {
    color: #111;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 25px;
}

.sidenav.active {
    left: 0;
}

.sidenav .close {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
}

/* HOME */

.home {
    height: calc(100vh - 75px);
    background-color: #FBF7EC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .home__left-bloc {
        width: 50%;

        h1 {
            color: #0F0D1C;
            font-size: 68px;
            font-style: normal;
            font-weight: 700;
            line-height: 78px;

            span {
                color: #756BEE;
            }
        }

        p {
            color: #5A5A5A;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            margin-top: 2rem;
        }

        button {
            border: none;
            outline: none;
            border-radius: 20px;
            width: 134px;
            height: 42px;
            color: #fff;
            cursor: pointer;
            font-size: 16px;
            font-weight: 500;
            margin-top: 2rem;
            background: linear-gradient(to right, #8E77C4 50%, #756BEE 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            transition: all .4s ease-out;
        }

        button:hover {
            background-color: #8E77C4;
            background-position: left bottom;
        }
    }

    .home__right-bloc {
        img {
            width: 602px;
            height: 655px;
        }
    }
}

@media screen and (max-width: 1500px) {
    .home {

        .home__left-bloc {
            h1 {
                font-size: 60px;
                line-height: 65px;
            }
        }

        .home__right-bloc {
            img {
                width: 500px;
                height: 550px;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .home {

        padding-top: 0;

        .home__left-bloc {
            h1 {
                font-size: 50px;
                line-height: 50px;
            }
        }

        .home__right-bloc {
            img {
                width: 400px;
                height: 450px;
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .home {
        height: fit-content;
        flex-direction: column;
        width: 100%;

        .home__left-bloc {
            margin-top: 4rem;
            width: 100%;
        }
    }
}

@media screen and (max-width: 650px) {
    .home {
        .home__right-bloc {
            img {
                margin-top: 2rem;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .home {
        .home__right-bloc {
            width: 100%;
            display: flex;
            justify-content: center;

            img {
                width: 90%;
                height: 350px;
            }
        }
    }
}

@media screen and (max-width: 475px) {
    .home {
        .home__right-bloc {
            img {
                height: 300px;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .home {
        .home__right-bloc {
            width: 100%;

            img {
                width: 100%;
                height: 230px;
            }
        }
    }
}

/* COMPANIES */

.companies {
    display: flex;
    flex-direction: column;

    p {
        color: #000;
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-family: 'Outfit', sans-serif;
    }

    .companies__img {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4rem;

        .nike {
            width: 84px;
            height: 30px;
        }

        .spotify {
            width: 116px;
            height: 35px;
        }

        .google {
            width: 106px;
            height: 35px;
        }

        .apple {
            width: 102px;
            height: 35px;
        }

        .amazon {
            width: 103px;
            height: 40px;
        }

        .airbnb {
            width: 114px;
            height: 35px;
        }
    }
}

@media screen and (max-width: 950px) {
    .companies {
        .companies__img {
            flex-wrap: wrap;
            justify-content: space-evenly;

            img {
                margin: 1rem 1.5rem;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .companies {
        .companies__img {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                margin: 1.7rem 0;
            }
        }
    }
}

/* FEATURES */

.features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
        width: 590px;
        height: 461px;
    }

    .features__right-bloc {
        padding-left: 6rem;

        h2 {
            color: #39364E;
            font-size: 55px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
        }

        p {
            margin-top: 2rem;
            color: #39364E;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0.18px;
        }

        button {
            border: none;
            outline: none;
            border-radius: 20px;
            width: 134px;
            height: 42px;
            color: #fff;
            cursor: pointer;
            font-size: 16px;
            font-weight: 500;
            margin-top: 2rem;
            background: linear-gradient(to right, #8E77C4 50%, #756BEE 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            transition: all .4s ease-out;
        }

        button:hover {
            background-color: #8E77C4;
            background-position: left bottom;
        }
    }
}

@media screen and (max-width: 1415px) {
    .features {
        img {
            width: 490px;
            height: 400px;
        }

        .features__right-bloc {
            h2 {
                color: #39364E;
                font-size: 50px;
                font-style: normal;
                font-weight: 600;
                line-height: 50px;
            }
        }
    }
}

@media screen and (max-width: 1160px) {
    .features {
        img {
            width: 390px;
            height: 300px;
        }

        .features__right-bloc {
            padding-left: 3rem;

            h2 {
                color: #39364E;
                font-size: 40px;
                font-style: normal;
                font-weight: 600;
                line-height: 35px;
            }

            button {
                margin-top: 1rem;
            }
        }
    }
}

@media screen and (max-width: 920px) {
    .features {
        flex-direction: column-reverse;

        img {
            margin-top: 4rem;
            width: 490px;
            height: 400px;
        }

        .features__right-bloc {
            padding-left: 0;

            h2 {
                text-align: center;
            }

            p {
                text-align: justify;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .features {
        img {
            width: 390px;
            height: 300px;
        }
    }
}

@media screen and (max-width: 500px) {
    .features {
        img {
            width: 290px;
            height: 240px;
        }


        .features__right-bloc {
            h2 {
                font-size: 30px;
                line-height: 25px;
            }
        }

    }
}

@media screen and (max-width: 445px) {
    .features {
        .features__right-bloc {
            h2 {
                font-size: 25px;
            }

            p {
                font-size: 16px;
                line-height: 20px;
            }

            button {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 445px) {
    .features {
        img {
            width: 240px;
            height: 200px;
        }
    }
}

/* SERVICES */

.services {
    background-color: #F5F4F0;
    display: flex;
    flex-direction: column;

    .services__head {

        h2 {
            color: #39364E;
            text-align: center;
            font-size: 55px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
        }

        p {
            margin-top: 0.5rem;
            color: #39364E;
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
        }
    }

    .services__blocs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4rem;

        .services__bloc {
            width: 416px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1.5rem;
            align-items: center;
            border-radius: 5px;
            border: 1px solid #E8E8E8;
            background: #FFF;

            img {
                width: 100px;
                height: 101px;
            }

            h3 {
                color: #39364E;
                text-align: center;
                font-size: 26px;
                font-style: normal;
                font-weight: 600;
                line-height: 27px;
                margin-top: 1.5rem;
            }

            p {
                color: #696969;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 27px;
                margin-top: 1.5rem;
            }
        }

        .peorple-bg {
            background-color: #7854F7;
            margin: 0 1.5rem;

            h3 {
                color: #fff;
            }

            p {
                color: #fff;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .services {
        .services__blocs {
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-top: 2rem;

            .services__bloc {
                width: 40%;
                margin-top: 2rem;
            }
        }
    }
}

@media screen and (max-width: 810px) {
    .services {
        .services__head {
            h2 {
                font-size: 50px;
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .services {

        .services__head {
            h2 {
                font-size: 40px;
            }
        }

        .services__blocs {
            flex-direction: column;

            .services__bloc {
                width: 100%;
            }

            .peorple-bg {
                margin: 0;
                margin-top: 2rem;
            }
        }
    }
}

@media screen and (max-width: 630px) {
    .services {
        .services__head {
            h2 {
                font-size: 30px;
            }
        }

        .services__blocs {
            .services__bloc {
                h3 {
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 470px) {
    .services {
        .services__head {
            h2 {
                font-size: 24px;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .services {
        .services__head {
            h2 {
                font-size: 22px;
            }
        }
    }
}

@media screen and (max-width: 325px) {
    .services {
        .services__head {
            h2 {
                font-size: 20px;
            }
        }
    }
}

/* BUSINESS */

.business {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .business__left-bloc {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-right: 2rem;

        h2 {
            color: #39364E;
            font-size: 55px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
        }

        p {
            margin-top: 2rem;
            color: #39364E;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
        }
    }

    img {
        width: 594px;
        height: 469px;
    }
}

@media screen and (max-width: 1400px) {
    .business {
        .business__left-bloc {
            h2 {
                font-size: 50px;
                line-height: 50px;
            }

            p {
                line-height: 20px;
            }
        }

        img {
            width: 500px;
            height: 370px;
        }
    }
}

@media screen and (max-width: 1300px) {
    .business {
        .business__left-bloc {
            h2 {
                font-size: 40px;
                line-height: 40px;
            }
        }

        img {
            width: 400px;
            height: 270px;
        }
    }
}

@media screen and (max-width: 950px) {
    .business {
        flex-direction: column;

        .business__left-bloc {
            width: 100%;

            h2 {
                text-align: center;
            }

            p {
                text-align: justify;
            }
        }

        img {
            margin-top: 3rem;
            width: 500px;
            height: 370px;
        }
    }
}

@media screen and (max-width: 700px) {
    .business {
        .business__left-bloc {

            h2 {
                font-size: 30px;
                line-height: 25px;
            }
        }

        img {
            margin-top: 3rem;
            width: 400px;
            height: 290px;
        }
    }
}

@media screen and (max-width: 575px) {
    .business {
        .business__left-bloc {

            h2 {
                font-size: 25px;
                line-height: 25px;
            }
        }

        img {
            width: 300px;
            height: 220px;
        }
    }
}

@media screen and (max-width: 450px) {
    .business {
        .business__left-bloc {

            h2 {
                font-size: 22px;
                line-height: 25px;
                text-align: left;
            }
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.portfolio {

    h2 {
        color: #39364E;
        font-size: 42px;
        font-style: normal;
        font-weight: 600;
    }

    p {
        color: #39364E;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        margin-top: 0.5rem;
    }

    .portfolio__blocs {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 3rem;

        .portfolio__bloc {

            img {
                margin: 1rem 1rem 0 0;
                width: 590px;
                height: 560px;
            }
        }
    }
}

@media screen and (max-width: 1630px) {
    .portfolio {
        .portfolio__blocs {
            justify-content: space-between;

            .portfolio__bloc {
                width: 45%;

                img {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    .portfolio {
        .portfolio__blocs {
            justify-content: space-between;

            .portfolio__bloc {
                width: 45%;

                img {
                    width: 100%;
                    height: 400px;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .portfolio {
        .portfolio__blocs {

            .portfolio__bloc {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                img {
                    width: 590px;
                    height: 560px;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .portfolio {
        .portfolio__blocs {

            .portfolio__bloc {
                width: 100%;

                img {
                    width: 100%;
                    height: 560px;
                    margin-right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .portfolio {
        .portfolio__blocs {

            .portfolio__bloc {

                img {
                    height: 450px;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .portfolio {

        h2 {
            font-size: 35px;
        }


        .portfolio__blocs {
            margin-top: 1.5rem;

            .portfolio__bloc {

                img {
                    height: 335px;
                }
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .portfolio {

        h2 {
            font-size: 32px;
        }


        .portfolio__blocs {
            margin-top: 1.5rem;

            .portfolio__bloc {

                img {
                    height: 280px;
                }
            }
        }
    }
}

.testimonials {
    background-color: #F5F4F0;

    .testimonials__head {
        text-align: center;

        h2 {
            color: #39364E;
            font-size: 42px;
            font-style: normal;
            font-weight: 600;
        }

        p {
            margin-top: 0.7rem;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
        }
    }

    .testimonials__blocs {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4rem;

        .testimonials__bloc {
            width: 31%;
            background-color: #fff;
            border-radius: 10px;
            border: 1px solid rgba(105, 105, 105, 0.10);
            padding: 1rem;
            display: flex;
            flex-direction: row;

            img {
                width: 68px;
                height: 68px;
            }

            .testimonials__bloc-right {
                margin-left: 1rem;

                p {
                    color: #696969;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }

                .love {
                    color: #39364E;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                }

                .name {
                    color: #7854F7;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                }

                .job {
                    color: #ACACAC;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                }
            }
        }

    }
}

@media screen and (max-width: 950px) {
    .testimonials {
        .testimonials__blocs {
            flex-wrap: wrap;
            margin-top: 3rem;

            .testimonials__bloc {
                width: 100%;
                margin-top: 1.5rem;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .testimonials {

        .testimonials__head {
            h2 {
                font-size: 35px;
            }
        }
    }
}

.contact {
    background-color: #7854F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contact__container {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;


        p {
            color: #FFF;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
        }

        .start {
            color: #FFF;
            font-size: 42px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;
            margin-top: 2rem;
        }

        button {
            margin-top: 2rem;
            padding: 14px 25px;
            border-radius: 5px;
            background-color: #FFF;
            color: #000;
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            outline: none;
            border: none;
            background: linear-gradient(to right, #A1C862 50%, #fff 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            transition: all .4s ease-out;
            cursor: pointer;
        }

        button:hover {
            background-color: #8E77C4;
            background-position: left bottom;
            color: #fff;
        }
    }
}

@media screen and (max-width: 1780px) {
    .contact {
        .contact__container {
            width: 82%;
        }
    }
}

@media screen and (max-width: 1400px) {
    .contact {
        .contact__container {
            .start {
                font-size: 34.5px;
            }
        }
    }
}

@media screen and (max-width: 1150px) {
    .contact {
        .contact__container {
            width: 100%;
        }
    }
}

@media screen and (max-width: 905px) {
    .contact {
        .contact__container {
            .start {
                font-size: 30px;
            }

            button {
                width: 140px;
                padding: 12px 20px;
            }
        }
    }
}

@media screen and (max-width: 810px) {
    .contact {
        .contact__container {

            p {
                width: 85%;
                font-size: 14px;
            }

            .start {
                font-size: 25px;
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .contact {
        .contact__container {
            .start {
                font-size: 21.5px;
            }
        }
    }
}

.footer {
    padding-bottom: 1rem;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

        .footer__bloc-top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            nav {
                a {
                    color: #fff;
                    text-decoration: none;
                    border-bottom: 1px solid transparent;
                    margin-left: 1rem;
                }

                a:hover {
                    border-bottom: 1px solid #0B363B;
                }
            }

            .social-medias {
                img {
                    height: 16px;
                    width: 16px;
                    margin-right: 0.5rem;
                }

                img:hover {
                    cursor: pointer;
                }
            }
        }

        .first-line {
            border-bottom: 1px solid #0B363B;
            margin-top: 2rem;
        }

        .footer__bloc-middle {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 3.5rem;

                h4 {
                    margin-bottom: 1rem;
                }

                p {
                    margin-top: 0.4rem;
                }

                p:hover {
                    cursor: pointer;
                }
        }

        .second-line {
            border-bottom: 1px solid #0B363B;
            margin-top: 3rem;
        }

        .footer__bloc-bottom {
            margin-top: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

                p:hover {
                    cursor: pointer;
                }
        }
}

@media screen and (max-width: 1150px) {
    .footer {
        .footer__bloc-middle {
            flex-wrap: wrap;
            margin-top: 1rem;
            justify-content: flex-start;

            div {
                margin: 3rem 1.5rem 0 0;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .footer {
        .footer__bloc-top {
            flex-direction: column;

                .social-medias {
                    margin-top: 2rem;
                    
                        img {
                            margin-right: 1rem;
                        }
                }
        }

        .footer__bloc-middle {
            div {
                margin: 3rem 2.5rem 0 0;
            }
        }

        .footer__bloc-bottom {
            flex-wrap: wrap;

            .sways {
                margin-right: 2rem;
                margin-bottom: 1.5rem;
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .footer {
        .footer__bloc-top {
            nav {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;

                    a {
                        margin-top: 1.5rem;
                    }
            }

            .social-medias {
                margin-top: 3rem;
            }
        }

        .footer__bloc-middle {
            justify-content: flex-start;
        }
    }
}

@media screen and (max-width: 425px) {
    .footer {
        .footer__bloc-top {
            nav {
                justify-content: center;
            }
        }
    }
}